/*声明css全局变量,:root是根元素*/
/*在变量名面前加  --  即声明变量*/
:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {

    width: 600px;
    height: 400px;
    padding: var(--spacing);
    /*var(变量名)用于读取变量*/
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}
/*
  misc styles, nothing to do with CSS variables
*/

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--base);
}

.showText {
    margin: 0px 25px 50px 25px;
}